---
title: トップページ
layout: layouts/base.njk
---

<section class="menu">
  <a class="menu-btn" href="/horses/">
    🐴 馬のプロフィール
  </a>

  <a class="menu-btn" href="/timeline/">
    📰 タイムライン
  </a>

  <a class="menu-btn" href="/members/">
    🔒 会員限定ページ
  </a>

  <a class="menu-btn" href="/login/">
    🔑 ログイン
  </a>
</section>